.container-card {
   
    padding-bottom: 1rem;
}
.hosting{
    font-weight: bold;
    flex-wrap: wrap;
}

 .titulo-card{
    padding: 1rem 0 1rem 0;
   background: linear-gradient(to right,#ce8cfd ,#7d5ee3);
} 

.card {
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
    border: none;
    margin-bottom: 30px;
}

.card:hover {
    transform: scale(1.05);
    transition: all 1s ease;
    z-index: 1;
}

.card-01 .card-body {
    position: relative;
    padding-top: 3px;
}

.card-01 .badge-box {
    position: absolute;
    top: -20px;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
    text-align: center;
}

.card-01 .badge-box i {
    background: #9f1ae2;
    color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
}

.card-01 .height-fix {
    height: 455px;
    overflow: hidden;
}

.card-01 .height-fix .card-img-top {
    width: auto !important;
}

.profile-box {
    background-size: cover;
    float: left;
    width: 100%;
    text-align: center;
    padding: 30px 0;
    position: relative;
    overflow: hidden;
}

.profile-box:before {
    filter: blur(10px);
    background: url("https://images.pexels.com/photos/195825/pexels-photo-195825.jpeg?h=350&auto=compress&cs=tinysrgb") no-repeat;
    background-size: cover;
    width: 120%;
    position: absolute;
    content: "";
    height: 120%;
    left: -10%;
    top: 0;
    z-index: 0;
}

.profile-box img {
    width: 170px;
    height: 170px;
    position: relative;
    border: 5px solid #fff;
}

.social-box i {
    border: 1px solid #006EFF;
    color: #006EFF;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
}

.social-box i:hover {
    background: #DFC717;
    color: #fff;
}

.social-box a {
    margin: 0 5px;
}

.video-foreground {
    float: left;
    width: 100%;
    height: 500px;
}

.card-01.height-fix .card-img-overlay {
    top: unset;
    color: #fff;
    background: -moz-linear-gradient(top, rgba(26, 96, 111, 0) 0%, rgba(26, 96, 111, 0) 1%, rgba(24, 87, 104, 0.91) 31%, rgba(21, 65, 89, 0.91) 100%);
    background: -webkit-linear-gradient(top, rgba(26, 96, 111, 0) 0%, rgba(26, 96, 111, 0) 1%, rgba(24, 87, 104, 0.91) 31%, rgba(21, 65, 89, 0.91) 100%);
}