.modal-centrado{
    margin-top: 1.5rem;
}

.my-button{
    background: linear-gradient(to right,#c879fd ,#6433E0);
    background-color: #c879fd;
    color: #fff;
   
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    padding: 6px 15px;
    border: 0px solid #000;
    border-radius: 10px;
    display: inline-block;
   }
   a.my-button:hover{
    background: linear-gradient(to right,#ce8cfd ,#7d5ee3);
    background-color: #ce8cfd;
   }
   a.my-button:active{
    transform: scale(0.95);
   }